Syntax for Language code values

Greetings, 

Am I to correctly understand that new approved syntaxes have crept into DC/DCT usage via the language tag recommendations?

To prevent this from happening can we just define a syntax for BCP-47 which is the current recommendation? BCP-47 has in the past pointed to each of RFC1766, RFC3066, RFC4646, RFC5646. Each progressive standard in the BCP-47 series does not invalidate the next set of codes but rather adds specification. All RFC1766 tags are valid RFC5646 tags, but not all RFC5646 tags are valid RFC1766 tags. However all RFC1766 tags and all RFC1766 tags are valid BCP-47 tags. As I understand things, by pointing to RFC5646 rather than BCP-47 it does not allow for the implementation of [RFC6067 ](https://www.rfc-editor.org/rfc/rfc6067) and [RFC6497](https://www.rfc-editor.org/rfc/rfc6497) within the narrowly interpreted syntax of RFC5646. RFC5646 allows for 35 subtags with in the BCP-47 space, RFC6067 and RFC6497 define two of these without changing the syntax of the BCP-47 tag scheme. It's just that when narrowly understood, RFC5646, now doesn't include all of BCP-47.

My thought is that it might be possible to just define BCP-47 as a syntax and if additional sub-tags are registered then there is no-need on the part of DCMI to update the number of syntaxes DC/DCT count as valid.



Closing for inactivity